#chatbox {
            width: 300px;
            height: 400px;
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: auto;
            font-family: Arial;
    }
#userInput {
            width: 80%;
        }
#sendBtn {
            width: 18%;
        }
.msg {
            margin: 5px 0;
        }
.user { color: blue; }
.bot { color: green; }
    